.gradle
build/*
/bin/
/build/
*.swp
gradle-app.setting
!gradle-wrapper.jar
target/
*.iml
*.ipr
*.iws
.idea/
.DS_Store
derby.log
*.swp
appnexus-login
cookies
sandbox_cookies
local/
.classpath
.project
.settings
info/
release.properties
src/main/resources/dogfight.properties
gor/
jfr/
hadoop_config